<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni2D4A</key>
    <string>uni2D_4A_.glif</string>
    <key>uni2D4B</key>
    <string>uni2D_4B_.glif</string>
    <key>uni2D4C</key>
    <string>uni2D_4C_.glif</string>
    <key>uni2D4E</key>
    <string>uni2D_4E_.glif</string>
    <key>uni2D4D</key>
    <string>uni2D_4D_.glif</string>
    <key>uni2D4F</key>
    <string>uni2D_4F_.glif</string>
    <key>uni2D30</key>
    <string>uni2D_30.glif</string>
    <key>uni2D31</key>
    <string>uni2D_31.glif</string>
    <key>uni2D32</key>
    <string>uni2D_32.glif</string>
    <key>uni2D33</key>
    <string>uni2D_33.glif</string>
    <key>uni2D34</key>
    <string>uni2D_34.glif</string>
    <key>uni2D35</key>
    <string>uni2D_35.glif</string>
    <key>uni2D36</key>
    <string>uni2D_36.glif</string>
    <key>uni2D37</key>
    <string>uni2D_37.glif</string>
    <key>uni2D38</key>
    <string>uni2D_38.glif</string>
    <key>uni2D39</key>
    <string>uni2D_39.glif</string>
    <key>uni2D3A</key>
    <string>uni2D_3A_.glif</string>
    <key>uni2D3B</key>
    <string>uni2D_3B_.glif</string>
    <key>uni2D3C</key>
    <string>uni2D_3C_.glif</string>
    <key>uni2D3D</key>
    <string>uni2D_3D_.glif</string>
    <key>uni2D3E</key>
    <string>uni2D_3E_.glif</string>
    <key>uni2D3F</key>
    <string>uni2D_3F_.glif</string>
    <key>uni2D40</key>
    <string>uni2D_40.glif</string>
    <key>uni2D41</key>
    <string>uni2D_41.glif</string>
    <key>uni2D42</key>
    <string>uni2D_42.glif</string>
    <key>uni2D43</key>
    <string>uni2D_43.glif</string>
    <key>uni2D44</key>
    <string>uni2D_44.glif</string>
    <key>uni2D45</key>
    <string>uni2D_45.glif</string>
    <key>uni2D46</key>
    <string>uni2D_46.glif</string>
    <key>uni2D47</key>
    <string>uni2D_47.glif</string>
    <key>uni2D48</key>
    <string>uni2D_48.glif</string>
    <key>uni2D49</key>
    <string>uni2D_49.glif</string>
    <key>uni2D50</key>
    <string>uni2D_50.glif</string>
    <key>uni2D51</key>
    <string>uni2D_51.glif</string>
    <key>uni2D52</key>
    <string>uni2D_52.glif</string>
    <key>uni2D53</key>
    <string>uni2D_53.glif</string>
    <key>uni2D54</key>
    <string>uni2D_54.glif</string>
    <key>uni2D55</key>
    <string>uni2D_55.glif</string>
    <key>uni2D56</key>
    <string>uni2D_56.glif</string>
    <key>uni2D57</key>
    <string>uni2D_57.glif</string>
    <key>uni2D58</key>
    <string>uni2D_58.glif</string>
    <key>uni2D59</key>
    <string>uni2D_59.glif</string>
    <key>uni2D5A</key>
    <string>uni2D_5A_.glif</string>
    <key>uni2D5B</key>
    <string>uni2D_5B_.glif</string>
    <key>uni2D5C</key>
    <string>uni2D_5C_.glif</string>
    <key>uni2D5D</key>
    <string>uni2D_5D_.glif</string>
    <key>uni2D5E</key>
    <string>uni2D_5E_.glif</string>
    <key>uni2D5F</key>
    <string>uni2D_5F_.glif</string>
    <key>uni2D60</key>
    <string>uni2D_60.glif</string>
    <key>uni2D61</key>
    <string>uni2D_61.glif</string>
    <key>uni2D62</key>
    <string>uni2D_62.glif</string>
    <key>uni2D63</key>
    <string>uni2D_63.glif</string>
    <key>uni2D64</key>
    <string>uni2D_64.glif</string>
    <key>uni2D65</key>
    <string>uni2D_65.glif</string>
    <key>uni2D6F</key>
    <string>uni2D_6F_.glif</string>
    <key>uni2D66</key>
    <string>uni2D_66.glif</string>
    <key>uni2D67</key>
    <string>uni2D_67.glif</string>
    <key>uni2D70</key>
    <string>uni2D_70.glif</string>
    <key>uni2D7F</key>
    <string>uni2D_7F_.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>uni007F</key>
    <string>uni007F_.glif</string>
    <key>uniFEAC</key>
    <string>uniF_E_A_C_.glif</string>
    <key>uniFEAD</key>
    <string>uniF_E_A_D_.glif</string>
    <key>uniFEAE</key>
    <string>uniF_E_A_E_.glif</string>
    <key>uniFEAF</key>
    <string>uniF_E_A_F_.glif</string>
    <key>uniFEB0</key>
    <string>uniF_E_B_0.glif</string>
    <key>uniFEB1</key>
    <string>uniF_E_B_1.glif</string>
    <key>uniFEB2</key>
    <string>uniF_E_B_2.glif</string>
    <key>uniFEB3</key>
    <string>uniF_E_B_3.glif</string>
    <key>uniFEB4</key>
    <string>uniF_E_B_4.glif</string>
    <key>uniFEB5</key>
    <string>uniF_E_B_5.glif</string>
    <key>uniFEB6</key>
    <string>uniF_E_B_6.glif</string>
    <key>uniFEB7</key>
    <string>uniF_E_B_7.glif</string>
    <key>uniFEB8</key>
    <string>uniF_E_B_8.glif</string>
    <key>uniFEB9</key>
    <string>uniF_E_B_9.glif</string>
    <key>uniFEBA</key>
    <string>uniF_E_B_A_.glif</string>
    <key>uniFEBB</key>
    <string>uniF_E_B_B_.glif</string>
    <key>uniFEBC</key>
    <string>uniF_E_B_C_.glif</string>
    <key>uniFEBD</key>
    <string>uniF_E_B_D_.glif</string>
    <key>uniFEBE</key>
    <string>uniF_E_B_E_.glif</string>
    <key>uniFEBF</key>
    <string>uniF_E_B_F_.glif</string>
    <key>uniFEC0</key>
    <string>uniF_E_C_0.glif</string>
    <key>uniFEC1</key>
    <string>uniF_E_C_1.glif</string>
    <key>uniFEC2</key>
    <string>uniF_E_C_2.glif</string>
    <key>uniFEC3</key>
    <string>uniF_E_C_3.glif</string>
    <key>uniFEC4</key>
    <string>uniF_E_C_4.glif</string>
    <key>uniFEC5</key>
    <string>uniF_E_C_5.glif</string>
    <key>uniFEC6</key>
    <string>uniF_E_C_6.glif</string>
    <key>uniFEC7</key>
    <string>uniF_E_C_7.glif</string>
    <key>uniFEC8</key>
    <string>uniF_E_C_8.glif</string>
    <key>uniFEC9</key>
    <string>uniF_E_C_9.glif</string>
    <key>uniFECA</key>
    <string>uniF_E_C_A_.glif</string>
    <key>uniFECB</key>
    <string>uniF_E_C_B_.glif</string>
    <key>uniFECC</key>
    <string>uniF_E_C_C_.glif</string>
    <key>uniFECD</key>
    <string>uniF_E_C_D_.glif</string>
    <key>uniFECE</key>
    <string>uniF_E_C_E_.glif</string>
    <key>uniFECF</key>
    <string>uniF_E_C_F_.glif</string>
    <key>uniFED0</key>
    <string>uniF_E_D_0.glif</string>
    <key>uniFED1</key>
    <string>uniF_E_D_1.glif</string>
    <key>uniFED2</key>
    <string>uniF_E_D_2.glif</string>
    <key>uniFED3</key>
    <string>uniF_E_D_3.glif</string>
    <key>uniFED4</key>
    <string>uniF_E_D_4.glif</string>
    <key>uniFED5</key>
    <string>uniF_E_D_5.glif</string>
    <key>uniFED6</key>
    <string>uniF_E_D_6.glif</string>
    <key>uniFED7</key>
    <string>uniF_E_D_7.glif</string>
    <key>uniFED8</key>
    <string>uniF_E_D_8.glif</string>
    <key>uniFED9</key>
    <string>uniF_E_D_9.glif</string>
    <key>uniFEDA</key>
    <string>uniF_E_D_A_.glif</string>
    <key>uniFEDB</key>
    <string>uniF_E_D_B_.glif</string>
    <key>uniFEDC</key>
    <string>uniF_E_D_C_.glif</string>
    <key>uniFEDD</key>
    <string>uniF_E_D_D_.glif</string>
    <key>uniFEDE</key>
    <string>uniF_E_D_E_.glif</string>
    <key>uniFEDF</key>
    <string>uniF_E_D_F_.glif</string>
    <key>uniFEE0</key>
    <string>uniF_E_E_0.glif</string>
    <key>uniFEE1</key>
    <string>uniF_E_E_1.glif</string>
    <key>uniFEE2</key>
    <string>uniF_E_E_2.glif</string>
    <key>uniFEF0</key>
    <string>uniF_E_F_0.glif</string>
    <key>uniFEF1</key>
    <string>uniF_E_F_1.glif</string>
    <key>uniFEF2</key>
    <string>uniF_E_F_2.glif</string>
    <key>uniFEF3</key>
    <string>uniF_E_F_3.glif</string>
    <key>uniFEF4</key>
    <string>uniF_E_F_4.glif</string>
    <key>uniFEF5</key>
    <string>uniF_E_F_5.glif</string>
    <key>uniFEF6</key>
    <string>uniF_E_F_6.glif</string>
    <key>uniFEF7</key>
    <string>uniF_E_F_7.glif</string>
    <key>uniFEF8</key>
    <string>uniF_E_F_8.glif</string>
    <key>uniFEF9</key>
    <string>uniF_E_F_9.glif</string>
    <key>uniFEFA</key>
    <string>uniF_E_F_A_.glif</string>
    <key>uniFEFB</key>
    <string>uniF_E_F_B_.glif</string>
    <key>uniFEFC</key>
    <string>uniF_E_F_C_.glif</string>
    <key>uniFEE3</key>
    <string>uniF_E_E_3.glif</string>
    <key>uniFEE4</key>
    <string>uniF_E_E_4.glif</string>
    <key>uniFEE5</key>
    <string>uniF_E_E_5.glif</string>
    <key>uniFEE6</key>
    <string>uniF_E_E_6.glif</string>
    <key>uniFEE7</key>
    <string>uniF_E_E_7.glif</string>
    <key>uniFEE8</key>
    <string>uniF_E_E_8.glif</string>
    <key>uniFEE9</key>
    <string>uniF_E_E_9.glif</string>
    <key>uniFEEA</key>
    <string>uniF_E_E_A_.glif</string>
    <key>uniFEEB</key>
    <string>uniF_E_E_B_.glif</string>
    <key>uniFEEC</key>
    <string>uniF_E_E_C_.glif</string>
    <key>uniFEED</key>
    <string>uniF_E_E_D_.glif</string>
    <key>uniFEEE</key>
    <string>uniF_E_E_E_.glif</string>
    <key>uniFEEF</key>
    <string>uniF_E_E_F_.glif</string>
    <key>uniFEAB</key>
    <string>uniF_E_A_B_.glif</string>
    <key>uniFEAA</key>
    <string>uniF_E_A_A_.glif</string>
    <key>uniFEA9</key>
    <string>uniF_E_A_9.glif</string>
    <key>uniFEA8</key>
    <string>uniF_E_A_8.glif</string>
    <key>uniFEA7</key>
    <string>uniF_E_A_7.glif</string>
    <key>uniFEA6</key>
    <string>uniF_E_A_6.glif</string>
    <key>uniFEA5</key>
    <string>uniF_E_A_5.glif</string>
    <key>uniFEA4</key>
    <string>uniF_E_A_4.glif</string>
    <key>uniFEA3</key>
    <string>uniF_E_A_3.glif</string>
    <key>uniFEA2</key>
    <string>uniF_E_A_2.glif</string>
    <key>uniFEA1</key>
    <string>uniF_E_A_1.glif</string>
    <key>uniFEA0</key>
    <string>uniF_E_A_0.glif</string>
    <key>uniFE9F</key>
    <string>uniF_E_9F_.glif</string>
    <key>uniFE9E</key>
    <string>uniF_E_9E_.glif</string>
    <key>uniFE9D</key>
    <string>uniF_E_9D_.glif</string>
    <key>uniFE9C</key>
    <string>uniF_E_9C_.glif</string>
    <key>uniFE9B</key>
    <string>uniF_E_9B_.glif</string>
    <key>uniFE9A</key>
    <string>uniF_E_9A_.glif</string>
    <key>uniFE99</key>
    <string>uniF_E_99.glif</string>
    <key>uniFE98</key>
    <string>uniF_E_98.glif</string>
    <key>uniFE97</key>
    <string>uniF_E_97.glif</string>
    <key>uniFE96</key>
    <string>uniF_E_96.glif</string>
    <key>uniFE95</key>
    <string>uniF_E_95.glif</string>
    <key>uniFE94</key>
    <string>uniF_E_94.glif</string>
    <key>uniFE93</key>
    <string>uniF_E_93.glif</string>
    <key>uniFE92</key>
    <string>uniF_E_92.glif</string>
    <key>uniFE91</key>
    <string>uniF_E_91.glif</string>
    <key>uniFE90</key>
    <string>uniF_E_90.glif</string>
    <key>uniFE8F</key>
    <string>uniF_E_8F_.glif</string>
    <key>uniFE8E</key>
    <string>uniF_E_8E_.glif</string>
    <key>uniFE8D</key>
    <string>uniF_E_8D_.glif</string>
    <key>uniFE8C</key>
    <string>uniF_E_8C_.glif</string>
    <key>uniFE8B</key>
    <string>uniF_E_8B_.glif</string>
    <key>uniFE8A</key>
    <string>uniF_E_8A_.glif</string>
    <key>uniFE89</key>
    <string>uniF_E_89.glif</string>
    <key>uniFE88</key>
    <string>uniF_E_88.glif</string>
    <key>uniFE87</key>
    <string>uniF_E_87.glif</string>
    <key>uniFE86</key>
    <string>uniF_E_86.glif</string>
    <key>uniFE85</key>
    <string>uniF_E_85.glif</string>
    <key>uniFE83</key>
    <string>uniF_E_83.glif</string>
    <key>uniFE82</key>
    <string>uniF_E_82.glif</string>
    <key>uniFE81</key>
    <string>uniF_E_81.glif</string>
    <key>uniFE80</key>
    <string>uniF_E_80.glif</string>
    <key>uniFE84</key>
    <string>uniF_E_84.glif</string>
    <key>uniFE7F</key>
    <string>uniF_E_7F_.glif</string>
    <key>uniFE7E</key>
    <string>uniF_E_7E_.glif</string>
    <key>uniFE7D</key>
    <string>uniF_E_7D_.glif</string>
    <key>uniFE7C</key>
    <string>uniF_E_7C_.glif</string>
    <key>uniFE7B</key>
    <string>uniF_E_7B_.glif</string>
    <key>uniFE7A</key>
    <string>uniF_E_7A_.glif</string>
    <key>uniFE79</key>
    <string>uniF_E_79.glif</string>
    <key>uniFE78</key>
    <string>uniF_E_78.glif</string>
    <key>uniFE77</key>
    <string>uniF_E_77.glif</string>
    <key>uniFE76</key>
    <string>uniF_E_76.glif</string>
    <key>uniFE74</key>
    <string>uniF_E_74.glif</string>
    <key>uniFE73</key>
    <string>uniF_E_73.glif</string>
    <key>uniFE72</key>
    <string>uniF_E_72.glif</string>
    <key>uniFE71</key>
    <string>uniF_E_71.glif</string>
    <key>uniFE70</key>
    <string>uniF_E_70.glif</string>
    <key>uni060C</key>
    <string>uni060C_.glif</string>
    <key>uni060D</key>
    <string>uni060D_.glif</string>
    <key>uni0615</key>
    <string>uni0615.glif</string>
    <key>uni061B</key>
    <string>uni061B_.glif</string>
    <key>uni061F</key>
    <string>uni061F_.glif</string>
    <key>uni0621</key>
    <string>uni0621.glif</string>
    <key>uni0622</key>
    <string>uni0622.glif</string>
    <key>uni0623</key>
    <string>uni0623.glif</string>
    <key>uni0624</key>
    <string>uni0624.glif</string>
    <key>uni0625</key>
    <string>uni0625.glif</string>
    <key>uni0626</key>
    <string>uni0626.glif</string>
    <key>uni0627</key>
    <string>uni0627.glif</string>
    <key>uni0628</key>
    <string>uni0628.glif</string>
    <key>uni0629</key>
    <string>uni0629.glif</string>
    <key>uni062A</key>
    <string>uni062A_.glif</string>
    <key>uni062B</key>
    <string>uni062B_.glif</string>
    <key>uni062C</key>
    <string>uni062C_.glif</string>
    <key>uni062D</key>
    <string>uni062D_.glif</string>
    <key>uni062E</key>
    <string>uni062E_.glif</string>
    <key>uni062F</key>
    <string>uni062F_.glif</string>
    <key>uni0630</key>
    <string>uni0630.glif</string>
    <key>uni0631</key>
    <string>uni0631.glif</string>
    <key>uni0632</key>
    <string>uni0632.glif</string>
    <key>uni0633</key>
    <string>uni0633.glif</string>
    <key>uni0634</key>
    <string>uni0634.glif</string>
    <key>uni0635</key>
    <string>uni0635.glif</string>
    <key>uni0636</key>
    <string>uni0636.glif</string>
    <key>uni0637</key>
    <string>uni0637.glif</string>
    <key>uni0638</key>
    <string>uni0638.glif</string>
    <key>uni0639</key>
    <string>uni0639.glif</string>
    <key>uni063A</key>
    <string>uni063A_.glif</string>
    <key>uni0640</key>
    <string>uni0640.glif</string>
    <key>uni0641</key>
    <string>uni0641.glif</string>
    <key>uni0642</key>
    <string>uni0642.glif</string>
    <key>uni0643</key>
    <string>uni0643.glif</string>
    <key>uni0644</key>
    <string>uni0644.glif</string>
    <key>uni0645</key>
    <string>uni0645.glif</string>
    <key>uni0646</key>
    <string>uni0646.glif</string>
    <key>uni0647</key>
    <string>uni0647.glif</string>
    <key>uni0648</key>
    <string>uni0648.glif</string>
    <key>uni0649</key>
    <string>uni0649.glif</string>
    <key>uni064A</key>
    <string>uni064A_.glif</string>
    <key>uni064B</key>
    <string>uni064B_.glif</string>
    <key>uni064C</key>
    <string>uni064C_.glif</string>
    <key>uni064D</key>
    <string>uni064D_.glif</string>
    <key>uni064E</key>
    <string>uni064E_.glif</string>
    <key>uni064F</key>
    <string>uni064F_.glif</string>
    <key>uni0650</key>
    <string>uni0650.glif</string>
    <key>uni0651</key>
    <string>uni0651.glif</string>
    <key>uni0652</key>
    <string>uni0652.glif</string>
    <key>uni0653</key>
    <string>uni0653.glif</string>
    <key>uni0654</key>
    <string>uni0654.glif</string>
    <key>uni0655</key>
    <string>uni0655.glif</string>
    <key>uni0656</key>
    <string>uni0656.glif</string>
    <key>uni0658</key>
    <string>uni0658.glif</string>
    <key>uni0660</key>
    <string>uni0660.glif</string>
    <key>uni0661</key>
    <string>uni0661.glif</string>
    <key>uni0662</key>
    <string>uni0662.glif</string>
    <key>uni0663</key>
    <string>uni0663.glif</string>
    <key>uni0664</key>
    <string>uni0664.glif</string>
    <key>uni0665</key>
    <string>uni0665.glif</string>
    <key>uni0666</key>
    <string>uni0666.glif</string>
    <key>uni0667</key>
    <string>uni0667.glif</string>
    <key>uni0668</key>
    <string>uni0668.glif</string>
    <key>uni0669</key>
    <string>uni0669.glif</string>
    <key>uni066A</key>
    <string>uni066A_.glif</string>
    <key>uni066B</key>
    <string>uni066B_.glif</string>
    <key>uni066C</key>
    <string>uni066C_.glif</string>
    <key>uni066D</key>
    <string>uni066D_.glif</string>
    <key>uni066E</key>
    <string>uni066E_.glif</string>
    <key>uni066F</key>
    <string>uni066F_.glif</string>
    <key>uni0670</key>
    <string>uni0670.glif</string>
    <key>uni0679</key>
    <string>uni0679.glif</string>
    <key>uni067E</key>
    <string>uni067E_.glif</string>
    <key>uni0686</key>
    <string>uni0686.glif</string>
    <key>uni0688</key>
    <string>uni0688.glif</string>
    <key>uni0691</key>
    <string>uni0691.glif</string>
    <key>uni0698</key>
    <string>uni0698.glif</string>
    <key>uni06A1</key>
    <string>uni06A_1.glif</string>
    <key>uni06A4</key>
    <string>uni06A_4.glif</string>
    <key>uni06A9</key>
    <string>uni06A_9.glif</string>
    <key>uni06BA</key>
    <string>uni06B_A_.glif</string>
    <key>uni06BE</key>
    <string>uni06B_E_.glif</string>
    <key>uni06C1</key>
    <string>uni06C_1.glif</string>
    <key>uni06C2</key>
    <string>uni06C_2.glif</string>
    <key>uni06C3</key>
    <string>uni06C_3.glif</string>
    <key>uni06CC</key>
    <string>uni06C_C_.glif</string>
    <key>uni06D4</key>
    <string>uni06D_4.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni2070</key>
    <string>uni2070.glif</string>
    <key>uni2071</key>
    <string>uni2071.glif</string>
    <key>uni2074</key>
    <string>uni2074.glif</string>
    <key>uni2075</key>
    <string>uni2075.glif</string>
    <key>uni2076</key>
    <string>uni2076.glif</string>
    <key>uni2077</key>
    <string>uni2077.glif</string>
    <key>uni2078</key>
    <string>uni2078.glif</string>
    <key>uni2079</key>
    <string>uni2079.glif</string>
    <key>uni207B</key>
    <string>uni207B_.glif</string>
    <key>uni207C</key>
    <string>uni207C_.glif</string>
    <key>uni207D</key>
    <string>uni207D_.glif</string>
    <key>uni207E</key>
    <string>uni207E_.glif</string>
    <key>uni207F</key>
    <string>uni207F_.glif</string>
    <key>uni2080</key>
    <string>uni2080.glif</string>
    <key>uni2081</key>
    <string>uni2081.glif</string>
    <key>uni2082</key>
    <string>uni2082.glif</string>
    <key>uni2083</key>
    <string>uni2083.glif</string>
    <key>uni2084</key>
    <string>uni2084.glif</string>
    <key>uni2085</key>
    <string>uni2085.glif</string>
    <key>uni2086</key>
    <string>uni2086.glif</string>
    <key>uni2087</key>
    <string>uni2087.glif</string>
    <key>uni2088</key>
    <string>uni2088.glif</string>
    <key>uni2089</key>
    <string>uni2089.glif</string>
    <key>uni208A</key>
    <string>uni208A_.glif</string>
    <key>uni208B</key>
    <string>uni208B_.glif</string>
    <key>uni208C</key>
    <string>uni208C_.glif</string>
    <key>uni208D</key>
    <string>uni208D_.glif</string>
    <key>uni208E</key>
    <string>uni208E_.glif</string>
    <key>uni2090</key>
    <string>uni2090.glif</string>
    <key>uni2091</key>
    <string>uni2091.glif</string>
    <key>uni2092</key>
    <string>uni2092.glif</string>
    <key>uni2093</key>
    <string>uni2093.glif</string>
    <key>uni2094</key>
    <string>uni2094.glif</string>
    <key>uni2095</key>
    <string>uni2095.glif</string>
    <key>uni2096</key>
    <string>uni2096.glif</string>
    <key>uni2097</key>
    <string>uni2097.glif</string>
    <key>uni2098</key>
    <string>uni2098.glif</string>
    <key>uni2099</key>
    <string>uni2099.glif</string>
    <key>uni209A</key>
    <string>uni209A_.glif</string>
    <key>uni209B</key>
    <string>uni209B_.glif</string>
    <key>uni209C</key>
    <string>uni209C_.glif</string>
    <key>uni207A</key>
    <string>uni207A_.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>uni0002</key>
    <string>uni0002.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>uni06AF</key>
    <string>uni06A_F_.glif</string>
    <key>uni0671</key>
    <string>uni0671.glif</string>
    <key>uniFB51</key>
    <string>uniF_B_51.glif</string>
    <key>uniFB57</key>
    <string>uniF_B_57.glif</string>
    <key>uniFB58</key>
    <string>uniF_B_58.glif</string>
    <key>uniFB59</key>
    <string>uniF_B_59.glif</string>
    <key>uniFB67</key>
    <string>uniF_B_67.glif</string>
    <key>uniFB68</key>
    <string>uniF_B_68.glif</string>
    <key>uniFB69</key>
    <string>uniF_B_69.glif</string>
    <key>uniFB6B</key>
    <string>uniF_B_6B_.glif</string>
    <key>uniFB6C</key>
    <string>uniF_B_6C_.glif</string>
    <key>uniFB6D</key>
    <string>uniF_B_6D_.glif</string>
    <key>uniFB7B</key>
    <string>uniF_B_7B_.glif</string>
    <key>uniFB7C</key>
    <string>uniF_B_7C_.glif</string>
    <key>uniFB7D</key>
    <string>uniF_B_7D_.glif</string>
    <key>uniFB89</key>
    <string>uniF_B_89.glif</string>
    <key>uniFB8B</key>
    <string>uniF_B_8B_.glif</string>
    <key>uniFB8D</key>
    <string>uniF_B_8D_.glif</string>
    <key>uniFB8F</key>
    <string>uniF_B_8F_.glif</string>
    <key>uniFB90</key>
    <string>uniF_B_90.glif</string>
    <key>uniFB91</key>
    <string>uniF_B_91.glif</string>
    <key>uniFB93</key>
    <string>uniF_B_93.glif</string>
    <key>uniFB94</key>
    <string>uniF_B_94.glif</string>
    <key>uniFB95</key>
    <string>uniF_B_95.glif</string>
    <key>uniFB9F</key>
    <string>uniF_B_9F_.glif</string>
    <key>uniFBAB</key>
    <string>uniF_B_A_B_.glif</string>
    <key>uniFBAC</key>
    <string>uniF_B_A_C_.glif</string>
    <key>uniFBAD</key>
    <string>uniF_B_A_D_.glif</string>
    <key>uniFBB2</key>
    <string>uniF_B_B_2.glif</string>
    <key>uniFBB3</key>
    <string>uniF_B_B_3.glif</string>
    <key>uniFBB4</key>
    <string>uniF_B_B_4.glif</string>
    <key>uniFBB5</key>
    <string>uniF_B_B_5.glif</string>
    <key>uniFBB6</key>
    <string>uniF_B_B_6.glif</string>
    <key>uniFBB7</key>
    <string>uniF_B_B_7.glif</string>
    <key>uniFBB8</key>
    <string>uniF_B_B_8.glif</string>
    <key>uniFBB9</key>
    <string>uniF_B_B_9.glif</string>
    <key>uniFBBD</key>
    <string>uniF_B_B_D_.glif</string>
    <key>uniFBBE</key>
    <string>uniF_B_B_E_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
  </dict>
</plist>
